.forgot-password-container {
    height: 100vh; // Altura completa de la ventana
    width: 100vw; // Ancho completo de la ventana
    background-image: url("./assets/fondoLogin.jpg"); // Asegúrate de poner la ruta correcta a tu imagen
    background-size: cover; // Cubre todo el contenedor sin perder las proporciones
    background-position: center; // Centra la imagen en el contenedor
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .forgot-password-form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1); /* Fondo del formulario semi-transparente */
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  }
  
  .logo {
    max-width: 200px;
    max-height: 200px;
    margin: 0 auto;
    display: block;
    padding-bottom: 15px;
    border-radius: 30px;
  }
  
  .form-group {
    margin-bottom: 20px;
  
    label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
      color: #555; /* Color de texto gris */
    }
  
    input {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ced4da;
      border-radius: 4px;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  
      &:focus {
        outline: none;
        border-color: #80bdff;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      }
    }
  
    .text-danger {
      color: #ffffff; /* Color de texto blanco */
      font-size: 16px;
    }
  }
  
  .btn-primary {
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  
    &:hover {
      background-color: #0056b3;
    }
  
    &:disabled {
      background-color: #6c757d;
      cursor: not-allowed;
    }
  }
  
  .links {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #888; /* Color de texto gris oscuro */
  }
  
  .links a {
    color: #007bff;
    text-decoration: none;
  
    &:hover {
      text-decoration: underline;
    }
  }
  
  .me-2 {
    color: white;
    &:hover {
      color: #0056b3;
    }
  }
  
  .form-label {
    color: white;
  }
  
  .button-custom-primary {
    background-color: #0056b3;
    color: white;
    &:hover {
      background-color: #003b7a;
      color: white;
    }
  }
  